/* printer */
@media print {
    body {
        color-adjust: exact;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }
}

/* card container */
.card-container {
    position: relative;
    background-color: #141a21;
    display: inline-block;
    width: 245px;
    height: 340px;
    text-align: center;
    margin-bottom: 4px;
    vertical-align: top;
    font-family: Source Sans Pro, Arial, sans-serif;
}

/* card left */
.card-left {
    float: left;
    width: 50px;
    height: 100%;
    position: relative;
    color: #8dadcf;
    line-height: 20px;
    border-right: 1px solid #51656d;
}

/* card left border */
.magmar .card-left {
    border-right: 1px solid #4a8564;
}
.magmar .card-rarity:after, .magmar .card-attack:after {
    color: #4a8564;
}
.songhai .card-left {
    border-right: 1px solid #AA4952;
}
.songhai .card-rarity:after, .songhai .card-attack:after {
    color: #AA4952;
}
.lyonar .card-left {
    border-right: 1px solid #aa9049;
}
.lyonar .card-rarity:after, .lyonar .card-attack:after {
    color: #aa9049;
}
.abyssian .card-left {
    border-right: 1px solid #7d30a5;
}
.abyssian .card-rarity:after, .abyssian .card-attack:after {
    color: #7d30a5;
}
.vanar .card-left {
    border-right: 1px solid #3d73b5;
}
.vanar .card-rarity:after, .vanar .card-attack:after {
    color: #3d73b5;
}
.vetruvian .card-left {
    border-right: 1px solid #a46e29;
}
.vetruvian .card-rarity:after, .vetruvian .card-attack:after {
    color: #a46e29;
}

/* card mana */
.card-mana {
    background-color: #2ba9d8;
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
    color: #25292e;
    width: 50px;
    height: 50px;
    position: absolute;
}
.card-mana:after {
    border-top: 15px solid #2ba9d8;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 50px;
    width: 0;
    z-index: 5;
}
.card-mana span {
    padding-top: 10px;
    display: block;
}

/* card arrows */
.card-rarity:after, .card-attack:after {
    content: "\e902";
    font-family: Duelspot;
    transform: scale(2.4,1.5);
    display: block;
    margin: 15px 0px 18px 0px;
    opacity: .6;
    color: #8dadcf;
}
.card-rarity:before, .card-attack:before, .card-health:before {
    font-family: Duelspot;
    display: block;
    font-size: 21px;
    color: #373e47;
}

/* card rarity */
.card-rarity {
    position: relative;
    margin-top: 85px;
    font-size: 9px;
}
.card-rarity:before {
    content: "\e908";
    font-size: 20px;
    line-height: 20px;
}
.card-rarity.mythron:before {
    color: #28e396;
}
.card-rarity.legendary:before {
    color: #e39f28;
}
.card-rarity.epic:before {
    color: #bf20e1;
}
.card-rarity.rare:before {
    color: #396cfd;
}
.card-rarity.basic:before, .card-rarity.common:before {
    color: #dddddd;
}
.core-set .card-rarity:before {
    font-family: duelspot;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* only display rarity for non-creature cards */
.card-container.spell .card-rarity:after, .card-container.artifact .card-rarity:after {
    display: none;
}

/* card attack */
.card-attack {
    color: #dddddd;
}
.card-attack:before {
    content: "\e903";
    color: #dddddd;
}

/* card health */
.card-health {
    margin-top: 22px;
    color: #dddddd;
}
.card-health:before {
    content: "\e905";
    color: #dddddd;
}

/* card right */
.card-right {
    float: right;
    width: 194px;
    height: 100%;
    background-color: #1f242a;
}

/* card image */
.card-image {
    display: block;
    margin-bottom: -60px;
    height: 187px;
    overflow: hidden;
}
.card-image img {
    width: 180px;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    animation: paused;
}

/* card name */
.card-title {
    position: relative;
}
h2.legend-name {
    margin: 35px 3px 3px 3px;
    line-height: 12px;
}
a.legend-post-title {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
}

/* card type */
.card-type {
    color: #8b94a0;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

/* card description */
.card-description {
    color: #cccccc;
    font-size: 11px;
    line-height: 17px;
    padding: 2px 10px;
    font-weight: 400;
    position: relative;
}
.card-description a {
    font-weight: bold;
    color: #ffffff;
}
.card-description span {
    font-weight: bold;
    color: #ffffff;
}

/* card ability */
.card-ability {
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 10px;
}
.card-ability span {
    font-weight: normal;
}

/* spell images */
.spell .card-image img, .artifact .card-image img {
    width: 110px;
    margin-top: 30px;
}

/* special case images */
.starhorn-the-seeker .card-image img {
    transform: scale(1.5);
    transform-origin: 70px 180px;
}
.ragnora-the-relentless .card-image img {
    transform: scale(1.55);
    transform-origin: 80px 180px;
}
.reva-eventide .card-image img {
    transform: scale(1.6);
    transform-origin: 80px 180px;
}
.shidai-stormblossom .card-image img {
    transform: scale(1.40);
    transform-origin: 100px 185px;
}
.argeon-highmayne .card-image img {
    transform: scale(1.20);
    transform-origin: 30px 160px;
}
.ziran-sunforge .card-image img {
    transform: scale(1.15);
    transform-origin: 155px 160px;
}
.brome-warcrest .card-image img {
    transform: scale(1.50);
    transform-origin: 70px 180px;
}
.zirix-starstrider .card-image img {
    transform: scale(.95);
}
.scioness-sajj .card-image img {
    transform: scale(1.3);
    transform-origin: 40px 170px;
}
.ciphyron-ascendant .card-image img {
    transform: scale(1.35);
    transform-origin: 120px 170px;
}
.cassyva-soulreaper .card-image img {
    transform: scale(1.7);
    transform-origin: 100px 170px;
}
.maehv-skinsolder .card-image img {
    transform: scale(1.60);
    transform-origin: 101px 170px;
}
.kara-winterblade .card-image img {
    transform: scale(1.2);
    transform-origin: 60px 160px;
}
.ilena-cryobyte .card-image img {
    transform: scale(1.25);
    transform-origin: 80px 160px;
}
.grandmaster-kraigon .card-image img {
    transform: scale(1.7);
    transform-origin: 80px 180px;
}
.vindicator .card-image img {
    transform: scale(1.3);
    transform-origin: 80px 180px;
}
.earth-sister-taygete .card-image img {
    transform: scale(1.3);
    transform-origin: 105px 180px;
}
.storm-sister-alkyone .card-image img {
    transform: scale(1.2);
    transform-origin: 50px 230px;
}
.hamon-bladeseeker .card-image img {
    transform: scale(1.2);
    transform-origin: 80px 190px;
}
